.cont{
    max-width: 960px;
    margin: 0 auto;
    background: #e630d9;
    font-size: 24px;
    padding: 25px;
}

#img2{
    background: url("https://sneneria/Neneria_WebDev_Midterm/Act47/img/bts.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
#img1{
    background: url("https://sneneria/Neneria_WebDev_Midterm/Act47/img/Bangtan.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}

p{
    color: whitesmoke;
    justify-content: center;
}

h1, h2, h3, h4{
    text-align: center;
    color: #4141a3;
    font-family: 'Courier New';
}

body{
    background: #0C0B13;
}